.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 30px;
  min-width: 50px;
  font-size: 14px;
  border-radius: 5px;
  box-shadow: 0 0 8px 0 #d4d4d4;
  border: none;
}

.button:hover {
  background-color: #f7f7f7;
  cursor: pointer;
}

.small {
  height: 15px;
  min-width: 15px;
}

.loading {
  width: 19px;
  height: 19px;
  border: 3px solid #62ce8f;
  position: relative;
  border-right-color: #e3e3e3;
  border-radius: 50%;
  animation: loader-rotate 1s linear infinite;
  box-sizing: border-box;
}

@keyframes loader-rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
