.footer {
  display: flex;
  justify-content: center;
  padding: 30px 0;
  box-shadow: 0 4px 13px 0 #b5b5b5;
  background-color: white;
  margin-top: auto;
}

.footer_wrapper {
  text-align: center;
  color: #919191;
}
