.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f7f7f7;
}

.content {
  align-self: center;
  max-width: 1030px;
  width: 100%;
  padding: 0 15px;
  color: #707070;
  min-height: 500px;
}
